extends layoutblock content  .container.col-md-6.col-md-offset-3    form(action="./signin",method="POST")      h1 Signin
      if data && data.type=='error'
        .form-group
          .alert.alert-danger= data.description      .form-group        label(for="email") Email        input(type="text",name="email").form-control#email
      .form-group
        label(for="pass") Password
        input(type="password",name="password").form-control#pass
      .form-group
        button(type="submit").btn.btn-default Login
        a(href="./signup").btn.btn-link.pull-right Sign up